*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,#00dbde,#fc00ff);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
     width: 40%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    box-shadow: 4px 4px 7px black;
    margin-bottom: 2rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 3px black;
    color: white;
    letter-spacing: 0.5vw;
    word-spacing: 1vw;
}

.box{
    width: 40%;
    height: 40vh;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    box-shadow: 4px 4px 10px black;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

input{
    border: none;
    outline: none;
    background: white;
    box-shadow: 4px 4px 5px black;
    height: 3rem;
    font-size: 1rem;
    border-radius: 12px;
    padding: 0 0 0 2rem;
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70%;
}

button{
    background: linear-gradient(135deg,#00dbde,#fc00ff);
    padding: 1rem;
    border-radius: 50px;
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    right: 10px;
    top: 10px;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

#result{
    color: black;
    text-shadow: 2px 2px 3px white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 20%;
}