*{
    margin: 0;
    padding: 0;
}

.pass{
    min-height: 100vh;
    min-width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    color: white;
}

#input{
    height: 3rem;
    max-width: fit-content;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: lightblue;
    color: black;
    border-radius: 20px;
    padding: 0 0 0 1rem;
}

#button{
    height: 3rem;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 0 1rem 0 1rem;
}

#msg{
    height: 3rem;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: currentColor;
    border-radius: 20px;
    padding-left: 1rem;
    color: black;
}

