*{
    margin: 0;
    padding: 0;
}

.screen{
    width: 100%;
    height: 100vh;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 30%;
    height: 30%;
    background-color: royalblue;
    border-radius: 40px;
    font-size: 2rem;
    text-align: center;
    align-content: center;
    color: white;
    font: italic;
    font-family: sans-serif;
}

button{
    background-color: beige;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1rem;
    border-radius: 20px;
    margin-top: 1.5rem;
    cursor: pointer;
}

button:hover{
    opacity: 70%;
    border: 1px solid black;
}