*{
    margin: 0;
    padding:0 ;
}

.container{
    max-width: 100vh;
    max-height: 100vh;
    background-color: black;
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50vh 50vh 50vh 50vh;
}

#input{
    border: 0;
    outline: 0;
    background-color: lightgray;
    color: black;
    border-radius: 40px;
    height: 3rem;
    font-size: 1rem;
    align-self: center;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

#btn{
    border: 0;
    outline: 0;
    background-color: yellowgreen;
    color: black;
    border-radius: 25px;
    height: 3rem;
    font-size: 1rem;
    align-self: center;
    padding: 0 1rem 0 1rem;
    margin-top: 1rem;
}

#msg{
    background-color: black;
    color: white;
    height: 3rem;
    font-size: 3rem;
    align-self: center;
    margin-top: 1rem;
    border-radius: 0 1rem 0 1rem;
    margin-top: 2rem;
    
}