*{
    margin: 0;
    padding: 0;
}

.change{
    max-width: 100vh;
    max-height: 100vh;
    background-color: lightsalmon;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 50vh 50vh 50vh 50vh;
    flex-direction: column;
    display: flex;
}

#input{
    height: 3rem;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: lightgray;
    color: black;
    border-radius: 20px;
    padding: 0 0 0 1rem;
    margin-bottom: 2rem;
}

#capital{
    height: 3rem;
    font-size: 1rem;
    background-color: lightgreen;
    color: black;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    max-width: 30vh;
    align-self: center;
}

#capital:hover{
    cursor: pointer;
    border: 2px solid white;
}

#small{
    height: 3rem;
    font-size: 1rem;
    background-color: lightslategray;
    color: black;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    max-width: 30vh;
    align-self: center;
}

#erase{
    height: 3rem;
    font-size: 1rem;
    background-color: lightseagreen;
    color: black;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    max-width: 30vh;
    align-self: center;
}