*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white,black);
}

h1{
    color: black;
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
}

.btn{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid black;
    border-radius: 12px;
    background: linear-gradient(360deg,lavender,rgba(226, 65, 65, 0.747));
}