*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    max-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background: linear-gradient(orange,pink);
}

.container{
    width: 30%;
    max-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background: linear-gradient(225deg,pink, yellow);
}

h2{
    font-size: 2rem;
}

input{
    outline: none;
    border: none;
    height: 3rem;
    padding: 0 0 0 2rem;
    border-radius: 12px;
    background-color: white;
    font-size: 1rem;
}

label{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

select{
    border: none;
    outline: none;
    background-color: lightgray;
    padding: 1rem;
    border-radius: 12px;
    font-size: 1rem;
}

button{
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: cadetblue;
    color: black;
    border-radius: 20px;
    margin: 2rem 0 2rem 0;
}