*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: black;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

input{
    height: 3rem;
    border: none;
    outline: none;
    background-color: lightgrey;
    width: 30%;
    border-radius: 20px;
    padding: 0 0 0 2rem;
    align-self: center;
    margin-bottom: 1rem;
}

.box{
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button{
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 10px;
    align-self: center;
    margin: 2rem 0 2rem 0;
    font-size: 1rem;
}

#result{
    width: 200px;
    height: 100px;
    background-color: white;
    color: black;
    border-radius: 10px;
    align-self: center;
    align-content: center;
    font-size: 1.5rem;
    text-align: center;
}