*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

#display{
    font-size: 5rem;
    align-self: center;
    margin-bottom: 4rem;
}

.box{
    flex-direction: row;
    display: flex;
    justify-content: center;
}

button{
    width: 150px;
    height: 75px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
}